
Newton/sim.txt
Jupyter Notebook/Física Matemática 2/triangle.png
Jupyter Notebook/Física Matemática 2/thanks.txt
Jupyter Notebook/Física Matemática 2/tests/P2_2018_2.ipynb
Jupyter Notebook/Física Matemática 2/tests/P1_2019_2.ipynb
Jupyter Notebook/Física Matemática 2/tests/P1_2018_2.ipynb
Jupyter Notebook/Física Matemática 2/tests/eqs.pdf
Jupyter Notebook/Física Matemática 2/tests/eqs.ipynb
Jupyter Notebook/Física Matemática 2/tests/E_2018_2.ipynb
Jupyter Notebook/Física Matemática 2/tests/.ipynb_checkpoints/P1_2019_2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/tests/.ipynb_checkpoints/P1_2018_2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/tests/.ipynb_checkpoints/eqs-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/setup.txt
Jupyter Notebook/Física Matemática 2/ref_frame_.png
Jupyter Notebook/Física Matemática 2/ref_frame.png
Jupyter Notebook/Física Matemática 2/README.md
Jupyter Notebook/Física Matemática 2/LICENSE
Jupyter Notebook/Física Matemática 2/init.ipynb
Jupyter Notebook/Física Matemática 2/bib.ipynb
Jupyter Notebook/Física Matemática 2/09_Lie.ipynb
Jupyter Notebook/Física Matemática 2/08_representations.ipynb
Jupyter Notebook/Física Matemática 2/07_Lorentz.ipynb
Jupyter Notebook/Física Matemática 2/06_groups.ipynb
Jupyter Notebook/Física Matemática 2/05_composite.ipynb
Jupyter Notebook/Física Matemática 2/04_functions.ipynb
Jupyter Notebook/Física Matemática 2/03_operators.ipynb
Jupyter Notebook/Física Matemática 2/02_vectors.ipynb
Jupyter Notebook/Física Matemática 2/01_determinant.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/thanks-checkpoint.txt
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/setup-checkpoint.txt
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/P2_2018_2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/P2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/P1_2018_2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/init-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/eqs-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/E_2018_2-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/bib-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/09_Lie-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/08_representations-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/07_Lorentz-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/06_groups-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/05_composite-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/04_functions-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/03_operators-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/02_vectors-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.ipynb_checkpoints/01_determinant-checkpoint.ipynb
Jupyter Notebook/Física Matemática 2/.gitattributes
